<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:replace="~{common/fragments/config :: ConfigFragment}">
        <title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">공통 타이틀</title>
    </head>
    <body class="flex flex-col h-screen w-full">

    <!-- fixed header -->
        <header th:replace="~{common/fragments/header :: HeaderFragment}"
                class="fixed top-0 left-0 w-full bg-white border-b border-gray-200 dark:bg-gray-900 shadow z-50">
        </header>

        <!-- main content, padding top for fixed header 높이만큼 -->
        <main class="flex-1 w-4/5 pt-20 mx-auto overflow-auto">
            <th:block layout:fragment="Content" class="h-full"></th:block>
        </main>

        <footer th:replace="~{common/fragments/footer :: FooterFragment}"></footer>

    </body>
</html>